/* slidy.css for UMBC CS201

   Adapted from slidy.css from W3C which is:
   Copyright (c) 2005 W3C (MIT, ERCIM, Keio), All Rights Reserved.
   W3C liability, trademark, document use and software licensing
   rules apply, see:

   http://www.w3.org/Consortium/Legal/copyright-documents
   http://www.w3.org/Consortium/Legal/copyright-software
*/

:root {
  --couleurfond: #f7fafc;
  --couleurfondtoolbar: #cbd5e0;
  --couleurtexte: #2d3748;
  --couleurtitrea: #cc4e13;
  --couleurtitreb: #6c7e31;
  --couleurmiseenvaleur: #2c6a82;
  --couleurliens: #d93e25;
  --couleurlienlegende: #6c7e31;
}


/* jeu de couleur estival
:root {
  --couleurfond: #CFEFFD;
  --couleurfondtoolbar: #73C3E5;
  --couleurtexte: #105978;
  --couleurtitrea: #BE6D12;
  --couleurtitreb: #258BB7;
  --couleurmiseenvaleur: #BE8D12;
  --couleurliens: #BE3312;
  --couleurlienlegende: #FF532A;
}
*/

/* jeu de couleur dracula
:root {
  --couleurfond: #282a36;
  --couleurfondtoolbar: #44475a;
  --couleurtexte: #f8f8f2;
  --couleurtitrea: #8be9fd;
  --couleurtitreb: #ffb86c;
  --couleurmiseenvaleur: #ff79c6;
  --couleurliens: #50fa7b;
  --couleurlienlegende: #f1fa8c;
}
*/

body
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height:1.6;
  color: var(--couleurtexte);
  background-color: var(--couleurfond);
  font-family: ubuntu, "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
  font-size: 14pt;
}

.hidden { display: none; visibility: hidden }

div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 1.2em; text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 60%;
  color: var(--couleurtexte);
  background: var(--couleurfondtoolbar);
}

.toolbar a {
  color: var(--couleurtexte);
}

.toolbar a:visited { color: var(--couleurtexte); text-decoration: none }
.toolbar a:link { color: var(--couleurtexte); text-decoration: none; }
.toolbar a:hover { color: var(--couleurtexte); text-decoration: none }
.toolbar a:active { color: var(--couleurtexte); text-decoration: none }

div.background {
  display: none;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage.h1 {
  padding-top: 40%;
}

.subtitle {
 color: var(--couleurmiseenvaleur);
}

div.slide {
  z-index: 20;
  margin: 0 0 0 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  height: 100vh;
}

/* this rule is hidden from IE 6 and below which don't support + selector */
div.slide + div[class].slide { page-break-before: always;}


div.toc {
  position: absolute;
  top: auto;
  bottom: 4em;
  left: 4em;
  right: auto;
  width: 60%;
  max-width: 30em;
  height: 30em;
  border: solid thin black;
  padding: 1em;
  background: var(--couleurfondtoolbar);
  color: black;
  z-index: 300;
  overflow: auto;
  display: block;
  visibility: visible;
}

div.toc-heading {
  width: 100%;
  border-bottom: solid 1px var(--couleurtexte);
  margin-bottom: 1em;
  text-align: center;
  color: var(--couleurmiseenvaleur);
}

div.slidy_toc {
  color: var(--couleurtexte);
  background-color: var(--couleurfond);
}

.slidy_toc a:link {color: var(--couleurtexte)}
.slidy_toc a:visited {color: var(--couleurtexte)}
.slidy_toc a:active {color: var(--couleurtexte)}
.slidy_toc a:hover {color: var(--couleurmiseenvaleur)}


pre {
 font-size: 80%;
 font-weight: bold;
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 border-style: solid;
 border-left-width: 1em;
 border-top-width: thin;
 border-right-width: thin;
 border-bottom-width: thin;
 border-color: var(--couleurtitreb);
 color: var(--couleurfond);
 background-color: var(--couleurtexte);
}

li pre { margin-left: 0; }


@media print {
  div.slide {
     display: block;
     visibility: visible;
     position: relative;
     border-top-style: solid;
     border-top-width: thin;
     border-top-color: black;
  }
  div.slide pre { font-size: 60%; padding-left: 0.5em; }
  div.handout { display: block; visibility: visible; }
}

blockquote {
  font-style: italic;
  border-left : solid 2px var(--couleurliens);
}

cite {
  color: var(--couleurmiseenvaleur);
}



.figure {
  display: table;
  margin: auto;
}

.figure img {
  max-width: 100%;
  background-color: transparent;
  display: block;
  margin: auto;
  max-height:50vh;
}

.caption {
  display: table-caption;
  caption-side: bottom;
  background-color: transparent;
  padding: 10px;
}

/*
img {
  background-color: transparent;
  display: block;
  margin: auto;
  max-height:50vh;
}
*/

p.caption {
 text-align: center;
 font-style: italic;
 color: var(--couleurlienlegende);
 font-size: 80%;
}


p.copyright { font-size: smaller }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: var(--couleurliens); text-decoration: none; }
a:link { color: var(--couleurliens); text-decoration: none; }
a:hover { color: var(--couleurlienlegende); text-decoration: none; }
a:active { color: var(--couleurlienlegende); text-decoration: none; }

a {text-decoration: none}
.navbar a:link {color: white}
.navbar a:visited {color: yellow}
.navbar a:active {color: red}
.navbar a:hover {color: red}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6,dl,table {
  margin-left: 1em;
  margin-right: 1em;
}

h1 {
  color: var(--couleurtitrea);
  border-bottom: 1px solid var(--couleurtexte);
  }

h1::before {
  content: "\1F836 ";
  padding-right: 20px;
}

/* Si on veut ajouter un logo :

h1:after {
    content: url(img_css/Framasoft_Logo-nb-petit.png);
    text-align: right;
    float:right;
}

*/

.titlepage h1::before {
  content: "";
}

h2 {
  color: var(--couleurtitreb);
  padding-bottom: 20px;
  border-bottom: 1px dashed var(--couleurtexte);
  }





p.author {
  font-size : 80% ;
}

p.subhead { font-weight: bold; margin-top: 2em; }

.smaller { font-size: smaller }
.bigger { font-size: 130% }

strong {
  color: var(--couleurtitreb);
}

em {
  color: var(--couleurmiseenvaleur);
}


table {
  border-collapse: collapse;
}

th, td {
 border: 1px solid var(--couleurtexte);
 padding: 0.2em;
}

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }

ul li {
  list-style: square;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 0;
  line-height: 140%;
}

ol li {
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
  list-style-type: decimal;
}

li ul li {
  font-size: 85%;
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
li li ul li {
  font-size: 85%;
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
li li li ul li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

li ol li {
  list-style-type: decimal;
}


li li ol li {
  list-style-type: decimal;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(nofold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(fold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(unfold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(fold.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(unfold.gif) no-repeat 0px 0.5em;
}

ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(nofold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(fold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(unfold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(fold.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(unfold.gif) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
a.titleslide { font-weight: bold; font-style: italic }


